.widerIframe {
    width: 330px;
}

@media screen and (min-width: 1440px) {
    .grid {
        display: grid;
        grid-template-columns:  720px  720px;
        grid-template-rows: repeat(2, 1000px);

        background-size: 40px 40px;
        background-image:
        linear-gradient(to right, var(--grid-clr) 1px, transparent 1px),
        linear-gradient(to bottom, var(--grid-clr) 1px, transparent 1px);
        border-bottom: 1px solid var(--grid-clr);
        border-right: 1px solid var(--grid-clr);
    }
}
