.introduction {
    width: 280px;
    margin: 40px auto;
    position: relative;
    /* background-color: blueviolet; */
}

.introductionText {
    line-height: normal;
}

.introductionSpan {
    font-weight: 600;
    display: block;
    margin-bottom: 1rem;
}

.introduction_p {
    margin-bottom: 1rem;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.textButton {
    margin: 0;
    padding: 8px;
    outline: none;
    border: 1px grey solid;
    background-color: var(--bg-color);
    box-shadow: none;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    transition: 300ms ease-in-out;
    cursor: pointer;
}

.textButton:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.textButtonActive {
    text-decoration: underline;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.link:hover {
    text-decoration: underline;
}

@media screen and (min-width: 375px) {
    .introduction {
        width: 320px;
    }

    .buttonContainer {
        padding: 0 40px;
    }

    .textButton {
        width: 120px;
    }
}


@media screen and (min-width: 414px) {
    .introduction {
        width: 360px;
       
    }
}

@media screen and (min-width: 750px) {
    .introduction {
        width: 680px;
        margin: 0px;
        padding-bottom: 40px;
        background-size: 40px 40px;
        background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
        border-right: 1px solid grey;
    }

    .introductionText {
        width: 399px;
        width: 519px;
        height: 279px;
        height: 399px;
        height: 359px;
        /* height: 900px; */
        margin-left: 81px;
        margin-top: 41px;
        padding: 40px;
        background: var(--bg-color);

    }

    .textLong {
        height: 719px;
    }

    .buttonContainer {
        justify-content: space-evenly;
    }

    .textButton {
        box-shadow: none;
        height: 39px;
        margin-top: 1px;
        width: 119px;
        margin-left: 2px;
        border: none;
    }
}

@media screen and (min-width: 1000px) {
    .introduction {
        width: 920px;
    }

    .introductionText {
        width: 759px;
        height: 479px;
        font-size: 1.5rem;
        font-weight: 300;
    }

    .textLong {
        height: 999px;
    }

    .introductionText p {
        line-height: 130%;
    }

    .buttonContainer {
        width: 920px;
    }
}

@media screen and (min-width: 1440px) {
    .introduction {
        width: 1440px;
    }

    .introductionText {
        /* font-size: 2rem; */
        font-weight: 300;
    }
}
